@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
  --bg-gradient:linear-gradient(to right, #8e2de2, #4a00e0);
  --color-primary:#050327;
  --color-secondary: #79045f;
  --color-buttons:#03b4fa;
  --text-color-black: #050327;
  --text-color-white: #fff;
}



::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-buttons); 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color-white);
  box-sizing: border-box;
  
}
h1{
  font-size: 1.4em;
    font-weight: 700;
}
h2{
  font-size: 1.3em;
}
a {
  color: #fff !important;
  margin: 0 15px;
  text-decoration: none;
  list-style: none;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5)
}

body {
  background-color: var(--color-primary);
}

footer {
  border: 2px solid violet;
}
footer {
  background-color: #000000;
  color: var(--text-color-white);
  padding: 20px;
  text-align: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
td{
  padding: 1em;
}

.video-item{
  width: 800px;
  height: 500px;
}

